body {
	background: linear-gradient(90deg, #38bdf8, #2564eb);
}

.container {
	align-content: center;
	padding-top: 8%;
}

.mx-auto {
	width: 550px;
	margin: 20px;
	background-color: #f7f7f7;
	opacity: 0.8;
	padding: 20px;
}

@media only screen and (max-width: 600px) {
	.mx-auto {
		width: 280px;
	}
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
}

#grid-container {
	display: flex;
	justify-content: center;
}

#grid {
	display: grid;
	width: min-content;
	grid: repeat(9, 1fr) / repeat(9, 1fr);
	border: 1px solid black;
}

input {
	display: table;
	background-color: initial;
	border: 1px solid black;
}

input:focus {
	outline: none;
}

.btn {
	margin: 10px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
